<%- include('templates/header')%>

<div class="d-flex justify-content-center">
    <div class="container my-5 text-center">
        <h1 class="tk-ani-grad">Users</h1>
        <span class="tk-text">Add, modify and remove users</span>
    </div>
</div>
    
    <%- include('templates/modal_editUser')%>

    <div class="d-flex justify-content-end mx-5">       
        <a class="btn tk-form-btn m-4" href="/admin_view">Admin View</a> 
        <a class="btn tk-form-btn m-4" href="/logout">Logout</a>
    </div>

    <div class="container mt-3">
        <div class="card tk-card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Admin</th>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>
                        <tr class="tk-showData">
                            <td id="id_<%= user.id %>"><%= user.id %></td>
                            <td id="usr_<%= user.id %>"><%= user.username %></td>
                            <td id="admn_<%= user.id %>"><%= user.admin %></td>
                            <td class="d-flex justify-content-end">
                                <button class="btn tk-form-btn mx-3" data-bs-toggle="modal" data-bs-target="#modal_editUser" onclick="edit(<%= user.id %>)">Edit</button>
                                <a class="btn tk-form-btn mx-3" href="./remove_user/<%= user.id %>">Delete</a> 
                            </td>
                        </tr>   
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function edit(id) {
            $('#edt_id').val($('#id_'+id).text());
            $('#edt_username').val($('#usr_'+id).text());
            $('#edt_admin').prop('checked', $('#admn_'+id).text() == "true");
        }
    </script>      
<%- include('templates/footer')%>