<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanukitchen</title>
    <link href="../../scss/styles.css" rel="stylesheet" type="text/css"/>
    <style>
        @font-face {
            font-family: 'lexend-deca';
            src: url(../../fonts/LexendDeca-Regular.ttf);
        }                  
        @font-face {
            font-family: 'somatic';
            src: url(../../fonts/Somatic-Rounded.otf);
        }
    </style>
</head>
    <!-- Image and text -->
<nav class="navbar navbar-light">
    <a class="navbar-brand px-5 " href="#">
        <img src="../../img/light-tanukitchen-horizontal.png" 
        height="60" width="auto" alt="Tanukitchen Logo"
        class="d-inline-block align-top">
    </a>
</nav>
<body>

  

<div class="container pt-5">
    <h1 class="tk-text">My profile <p class="lead">Google</p></h1> 
    <hr class="tk-green-line">
</div>

<div class="d-flex justify-content-end mx-5">       
    <a class="btn tk-form-btn m-4" href="/admin_view">Admin View</a> 
    <a class="btn tk-form-btn m-4" href="/logout">Logout</a>
</div>

<div class="d-flex justify-content-center align-items-center pt-3">
    <div class="col-sm-5">
        <div class="d-flex justify-content-center">
            <img class="usr-pfp" src="<%= usr.picture %>">
        </div>
        <div class="d-flex justify-content-center">
            <label class="form-label tk-usr-label mt-2" for="username">ID</label>
            <input type="text" name="username" id="username" class="form-control tk-usr-input" disabled value="<%= usr.id %>"/>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="row">
          <label class="form-label tk-usr-label" for="fullname">Full Name</label>
          <input type="text" name="fullname" id="fullname" class="form-control tk-usr-input" disabled value="<%= usr.displayName %>"/>
        </div>

        <div class="row">
          <label class="form-label tk-usr-label" for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control tk-usr-input" disabled value="<%= usr.email %>"/>
        </div>
  
        <div class="row">
          <label class="form-label tk-usr-label" for="provider">Provider</label>
          <input type="text" name="provider" id="provider" class="form-control tk-usr-input" disabled value="<%= usr.provider %>"/>
        </div>

        <div class="row">
          <button href="/logout" class="btn tk-form-btn" onclick="window.location.href = '/logout'" style="width: 67%">Logout</button>
        </div>
    </div>
  </div> 
  <script src="../../../src/assets/js/main.js" type="module"></script>
</body>
</html>